
@font-face {
    font-family: 'Neue';
    src: url(../fonts/Helvetica\ Neue\ LT\ 55\ Roman.ttf);
    font-style: normal;
}

@font-face{
    font-family: 'Fine';
    src: url(../fonts/Courgette-Regular.ttf);
    font-style: normal;
}

@font-face{
    font-family: 'Write';
    src: url(../fonts/Optima-Medium.otf);
    font-style: normal;
}

@font-face{
    font-family: 'Good';
    src: url(../fonts/ElMessiri-SemiBold.ttf);
    font-style: normal;
}

@font-face{
    font-family: 'Rust';
    src: url(../fonts/SouvenirStd-Light.otf);
}

@font-face{
    font-family: 'Better';
    src: url(../fonts/);
}


                                        /* Universal Styling */

html, body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Neue';
    height: 100%;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}

h1, h2, h4{
    margin: 0;
}

.container{
    margin: 0 auto;
    max-width: 100%;
}

p{
    line-height: 1.5rem;
}

li{
    line-height: 1.5rem;
}

.flex-container{
    display: flex;
    flex-direction: column;
}

.btn{
    border: 3px solid #000000;
    border-radius: 20px;
    background: none;
    font-family: 'Write';
    padding: 10px 40px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.btn{
    color: #ecb911;
}

.btn:hover{
    color: #000000;
}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #ecb911;
    z-index: -200;
    transition: 0.8s;
}

.btn::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.btn:hover::before{
    height: 180%;
}

.main-headline{
    font-size: 4.5rem;
    margin: auto;
    font-family: 'Rust';
    font-weight: 300;
    color: rgb(255, 255, 255);
}

.global-headline{
    color: #454543;
    font-size: 2rem;
    letter-spacing: 1px;
    padding: 0.5rem;
    text-align: left;
    font-family: 'Fine';
}


                                        /* Stylig for Navigation [Mobile]*/

#logo{
    display: flex;
    justify-content: left;
    background: #ecf0f1;
    padding-top: 10px;
}

#logo_img{
    width: 200px;
    height: 90px;
}


.mobile-menu{
    display: flex;
    position: absolute;
    top: 18vh;
    float: left;
    list-style-type: none;
    background: #192a56;
    width: 100%;
    height: 100%;
    padding: 5px;
    transform: translateX(-100%);
    transition: transform .6s;
    z-index: 1000;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.mobile-links li{
    text-align: center;
    padding: 1em;
    line-height: 2.8rem;
}

.nav-list{
    list-style-type: none;
}

.nav-list a{
    font-family: 'Good', sans-serif;
    font-size: 2.25rem;
    color: #ffffff;
    cursor: pointer;
}

.nav-list:hover {
    border-bottom-style: solid;
    border-bottom-color: rgb(238, 206, 27);
}

.mobile-menu-active{
    transform: translateX(0%);
}

#burger{
    display: grid;
    justify-content: end;
    align-content: center;
    grid-auto-flow: row;
    cursor: pointer;
}

.line1, .line2, .line3{
    width: 26px;
    height: 3px;
    transition: 0.4s;
    background-color: rgb(0, 0, 0);
    margin: 2px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 25px;
}

                            /* Animation for Hamburger Icon [Hamburger menu into X] */

.change .line1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 6px);
    transform: rotate(-45deg) translate(-7px, 6px);
}
    
.change .line2 {opacity: 0;}
    
.change .line3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
}


                                        /* Stylig for Navigation [Desktop]*/

#navbar {
    display: grid;
    grid-auto-flow: column;
    height: 18vh;
    background: #ecf0f1;
    grid-gap: 1.5rem;
    padding: 0 15px;
    overflow: hidden;
    -webkit-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 0.541);
    -moz-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 0.541);
    box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 0.541);
}

@media only screen and (max-width: 500px){

    .mobile-links li{
        text-align: left;
    }

    .mobile-links ul{
        padding: 0;
    }
}

                                        /* End of Styling for Navigation */

/* Styling for footer */

footer{
    background: #dfe4ea;
    padding: 0;
}

.footer_container{
    display: grid;
    padding: 0;
    margin: 0;
}

.footer_container h2{
    font-family: 'Write';
    margin-bottom: 1em;
}

.footer_item2, .footer_item3, .footer_item4{
    padding: 0;
}

.footer_links h3{
    font-family: 'Write';
    text-align: center;
    margin-top: 0;
}

@media only screen and (min-width: 850px){

    .footer_container{
        padding: 0 2.5rem;
        grid-template-columns: 1.5fr 1.5fr 1fr;
    }
}

.footer_item3, .footer_item4{
    max-width: 380px;
    max-height: 320px;
}

.footer_item2, .footer_item3, .footer_item4{
    padding: 1rem;
}

.footer_item2 img{
    padding-left: 0.5em;
    width: 180px;
    height: 80px;
    margin-bottom: 5px;
}

.footer_item2 p{
    padding-left: 0.5em;
    margin: 0;
    margin-bottom: 1em;
}

.footer_item3 a{
    color: #000000;
}

.footer_item3 ul li{
    padding: 8px;
}

.business_inq{
    display: flex;
    flex-direction: row;
}

.business_inq img{
    margin: 10px;
    width: 32px;
    height: 32px;
}

.business_inq h4{
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.business_inq p{
    padding-left: 0;
    margin: 0;
}

.one{
    display: flex;
    flex-direction: column;
}

.footer_item3 ul li{
    list-style: '🔍';
}

.footer_links{
    display: flex;
    flex-direction: column;
    padding-left: 6.5rem;
    padding-right: 6.5rem;
}


.copyrights{
    background: #192a56;
    border-top:1px solid #dfe4ea;
    border-bottom: 1px solid #dfe4ea;
}

.copyrights p{
    font-family: 'Rust';
    text-align: center;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
}

                                        /* End of Styling for footer */
                                        

                                        /* Styling for Background */

.recipe_bg{
    position: relative;
    background-image: url(../images/TeaRecipebg.webp);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}  

.recipe_overlay{
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 200;
    width: 100%;
    align-items: left;
    text-align: left;
}

#recipe_content{
    display: grid;
    justify-content: space-evenly;
}

@media only screen and (min-width: 850px){

    #recipe_content{
        grid-template-columns: 1fr 1fr;
    }
}

.break1{
    padding: 1.5em;
    background: #bdc3c7; 
}

.break2{
    padding: 1.5em;
    background: #273c75;
    color: #ffffff;
}

.recipe_main h2{
    font-family: 'Write';
    color: #05162c;
    font-size: 2rem;
    text-align: center;
    padding: 0.5em;
    margin: 0;
}

.recipe_main{
    display: flex;
    flex-direction: column;
}

.recipe_main img{
    margin-left: auto;
    margin-right: auto;
    width: 260px;
    height: 260px;
}

@media only screen and (min-width: 850px){

    .recipe_main img{
        width: 550px;
        height: 500px;
    }
}

@media (min-width: 400px)and (max-width: 850px){

    .recipe_main img{
        width: 300px;
        height: 300px;
    }
}


