
@font-face {
    font-family: 'Neue';
    src: url(../fonts/Helvetica\ Neue\ LT\ 55\ Roman.ttf);
    font-style: normal;
}

@font-face{
    font-family: 'Fine';
    src: url(../fonts/Courgette-Regular.ttf);
    font-style: normal;
}

@font-face{
    font-family: 'Write';
    src: url(../fonts/Optima-Medium.otf);
    font-style: normal;
}

@font-face{
    font-family: 'Good';
    src: url(../fonts/ElMessiri-SemiBold.ttf);
    font-style: normal;
}

@font-face{
    font-family: 'Rust';
    src: url(../fonts/SouvenirStd-Light.otf);
}

@font-face{
    font-family: 'Better';
    src: url(../fonts/ProzaLibre-Medium.ttf);
}

                                        /* Universal Styling */

html, body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Neue';
    scroll-behavior: smooth;
    height: 100%;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}

h1, h2, h4{
    margin: 0;
}

.container{
    margin: 0 auto;
    max-width: 100%;
}

p{
    line-height: 1.5rem;
}

li{
    line-height: 1.5rem;
}

.flex-container{
    display: flex;
    flex-direction: column;
}

.headline{
    font-family: 'Write', sans-serif;
    font-size: 1.5rem;
    color:#ffffff;
}

.global-headline{
    color: #454543;
    font-size: 1.25rem;
    letter-spacing: 1px;
    padding: 0.5rem;  
    margin-top: 1.5rem;
    text-align: center;
    font-family: 'Rust';
}

@media only screen and (min-width: 410px){

    .global-headline{
        font-size: 2rem;    
    }
}

.line4{ 
    width: 30%;
    height: 3px;
    background-color: #f7c111;
    margin-bottom: 1rem;
    transform: translateX(115%);
}

.content{
    padding: 10px;
}

.btn2{
    border: 2px #f7c111;
    background: #f7c111;
    padding: 10px 28px;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: #563119;
    font-family: 'Better';
    font-weight: 800;
    border-radius: 5px;
}

.btn2:hover{
    background: #563119;
    color: #f7c111;
}

                                   /* Styling for Navigation Bar [Mobile]*/

.mobile-menu{
    position: absolute;
    top: 15.2vh;
    list-style-type: none;
    background: rgb(243, 238, 238);
    float: left;
    width: 100%;
    padding: 5px 0 0 0;
    transform: translateX(-100%);
    transition: transform .6s;
    z-index: 1000;
}

.mobile-links li{
    line-height: 2.8rem;
}

.nav-list{
    list-style-type: none;
}

.nav-list a{
    font-family: 'Good', sans-serif;
    font-size: 1.25rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.nav-list:hover {
    border-bottom-style: solid;
    border-bottom-color: rgb(238, 206, 27);
}

.mobile-menu-active{
    transform: translateX(0%);
}

#burger{
    display: grid;
    justify-content: right;
    align-content: center;
    grid-auto-flow: row;
    cursor: pointer;
}

.line1, .line2, .line3{
    width: 25px;
    height: 3px;
    transition: 0.4s;
    background-color: black;
    margin: 2px;
}

                            /* Animation for Hamburger Icon [Hamburger menu into X] */

.change .line1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-5px, 5px);
}
    
.change .line2 {opacity: 0;}
    
.change .line3 {
    -webkit-transform: rotate(45deg) translate(-4px, -6px);
    transform: rotate(45deg) translate(-4px, -6px);
}

                                   /* Styling for Navigation Bar [Desktop]*/

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar {
    display: grid;
    min-height: 15.2vh;
    grid-auto-flow: column;
    background: #ffffff;
    grid-gap: 1.5rem;
    padding: 0 15px;
    overflow: hidden;
    -webkit-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 0.541);
    -moz-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 0.541);
    box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 0.541);
}



#logo{
    display: grid;
    justify-content: start;
    align-content: center;
    height: 82px;
    padding-top: 10px;
}

#nav-links{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 2em;
    font-family: 'Good', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
}

.nav-item:hover {
    border-bottom-style: solid;
    border-bottom-color: rgb(238, 206, 27);
}

#nav-links a{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

/* Mobile to Tablet  */
@media (max-width: 930px) {
    #nav-links {
      display: none;
    }

    #navbar{
        padding: 0 10px;
    }
  }
  
  /* Tablet to Desktop */
  @media (min-width: 930px) {
    .mobile-menu,
    #burger,
    .line1, .line2, .line3 {
      display: none;
    }
}

                                        /* End of Navigation Bar */

                                        /* Styling for footer */

footer{
    background: #dfe4ea;
    padding: 0;
}

.footer_container{
    display: grid;
    padding: 0;
    margin: 0;
}

.footer_container h2{
    font-family: 'Write';
    margin-bottom: 1em;
}

.footer_item2, .footer_item3, .footer_item4{
    padding: 0;
}

.footer_links h3{
    font-family: 'Write';
    text-align: center;
    margin-top: 0;
}

@media only screen and (min-width: 850px){

    .footer_container{
        padding: 0 2.5rem;
        grid-template-columns: 1.5fr 1.5fr 1fr;
    }
}

.footer_item3, .footer_item4{
    max-width: 380px;
    max-height: 320px;
}

.footer_item2, .footer_item3, .footer_item4{
    padding: 1rem;
}

.footer_item2 img{
    padding-left: 0.5em;
    width: 180px;
    height: 80px;
    margin-bottom: 5px;
}

.footer_item2 p{
    padding-left: 0.5em;
    margin: 0;
    margin-bottom: 1em;
}

.footer_item3 a{
    color: #000000;
}

.footer_item3 ul li{
    padding: 8px;
}

.business_inq{
    display: flex;
    flex-direction: row;
}

.business_inq img{
    margin: 10px;
    width: 32px;
    height: 32px;
}

.business_inq h4{
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.business_inq p{
    padding-left: 0;
    margin: 0;
}

.one{
    display: flex;
    flex-direction: column;
}

.footer_item3 ul li{
    list-style: '🔍';
}

.footer_links{
    display: flex;
    flex-direction: column;
    padding-left: 6rem;
    padding-right: 6rem;
    background: #192a56;
}

.quicks_links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px;
}

.quicks_links img{
    width: 40px;
    height: 40px;
}

.copyrights{
    background: #192a56;
    border-top:1px solid #dfe4ea;
    border-bottom: 1px solid #dfe4ea;
}

.copyrights p{
    font-family: 'Rust';
    text-align: center;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
}

                                        /* End of Styling for footer */

                                        /* Start of Homepage (Styling) */
                                            /* Site Background */

#my-vid{
    position: relative;
    z-index: -1000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#vid-container {
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

@media (min-aspect-ratio: 16/9) {
    #my-vid {
    width:100%;
    height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #my-vid { 
    width:auto;
    height: 100%;
    }
}

                                        /*End of Site Background */

.showcase{
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 100;
    width: 100%;
    align-items: center;
    text-align: center;
}

.main-headline{
    font-size: 4.5rem;
    margin: auto;
    font-family: 'Fine';
    font-weight: 400;
    color: #ffffff;
}

.btn{
    border: 1px solid #ffffff;
    border-radius: 20px;
    background: none;
    font-family: 'Write';
    padding: 10px 40px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    color: #ffffff;
}

.btn{
    color: #ffffff;
}

.btn:hover{
    color: #3498db;
}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #ffffff;
    z-index: -200;
    transition: 0.8s;
}

.btn::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.btn:hover::before{
    height: 180%;
}

@media only screen and (max-width: 300px){

    .main-headline{
        font-size: 3.8rem;
    }

}

                                    /* Second Section of Homepage */

.about_gird{
    display: grid;
    padding: 0;
}

.about{
    padding: 5px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 1rem;
}

#col2{
    color: rgb(0, 0, 0);
    background: rgb(216, 214, 214);
}

#col1{
    color: rgb(255, 255, 255);
    background: #192a56;
}

.about_gird p{
    font-size: 1.1rem;
    text-align: center;
    margin: 10px;
    margin-left: 3rem;
    margin-right: 3rem;
}

.about_gird h2{
    margin-top: 10px;
    font-family: 'Write';
    text-align: center;
}

.about_gird img{
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 320px;
}

@media only screen and (min-width: 1000px){

    .about_gird{
        grid-template-columns: 2fr 2fr;
    }
}

@media only screen and (max-width: 500px){

    .about_gird img{
        width: 280px;
        height: 280px;
    }

    .about_gird p{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
                                /* End of Second Section of Homepage */

                                        /* Styling for Short Links (Image)*/


                                        /*End of Styling for Short Links */

                                        /* First Section of Homepage */

#part-one{
    background: #ecf0f1;
}

.tea-box{                                                                                                                                              
    display: grid;
    grid-gap: 10px;
    margin-bottom: 1rem;
}

.tea-box h2{
    text-align: center;
    font-family: 'Write';
    padding: 10px;
}

.tea-box p{
    text-align: center;
    padding: 10px;
    line-height: 1.6;
    font-size: 1.20rem;
}


#tea-img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

@media only screen and (max-width: 300px){

    .tea-box p{
        font-size: 1rem;
    }

}

@media only screen and (min-width: 1000px){

    .tea-box{
        grid-template-columns: auto auto;
        grid-template-rows: auto;
    }

    .tea-box h2{
        text-align: left;
    }    

    .tea-box p{
        text-align: left;
    }

    #tea-img{
        width: 100%;
    }

    .box2{
        grid-row-start: 1;
        grid-row-end:   3;
    }

}
                                        

                                        /*End of First Section of Homepage */


                                            /*Third Section of Homepage */
                

.discover_img img{
    width: 100%;
    height: 380px;
}

.discover_gird{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0;
}

#discover1{
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}

.discover_gird h2{
    margin-top: 10px;
    font-family: 'Write';
    text-align: center;
}

.discover_gird p{
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 0;
    text-align: center;
}

.discover_gird img{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 300px;
}

@media only screen and (max-width: 400px){

    .discover_gird img{
        width: 280px;
        height: 180px;
    }

    .discover_text{
        padding: 1rem;
    }

}

@media only screen and (min-width: 900px){

    .discover_gird p{
        text-align: left;
        margin-left: 0;
    }

    #discover1{
        width: 460px;
    }

    .discover_gird h2{
        margin-top: 10px;
        font-family: 'Write';
        text-align: left;
    }

    .discover_gird img{
        margin-left: 0;
        margin-right: 0;
        width: 420px;
        height: 270px;
    }

    .discover_gird{
        flex-direction: row;
    }
}

                                        /*End of Third Section of Homepage */

                                        /* Start of Page Two (Types of tea) */
                                    /* ========================================== */

                                        /* Background Image for Types of Tea Page */

.teatypes_bg{
    position: relative;
    background-image: url(../images/TeaTypesBg.jpg);
    background-color: #8aaece;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

/* Background Overlay */

#teatypes_intro{
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 200;
    width: 100%;
    align-items: center;
    text-align: center;
}

                                        /* End of Background Image for Types of Tea Page */

                                                /* Styling for Tea types INtro */

.types_intro{
    padding: 4.5rem;
    background: #b3c7d6ff;
}

#types_intro{
    display: flex;
    justify-content: space-around;
    margin-left: 2rem;
    margin-right: 2rem;
}

#types_intro h2{
    font-family: 'Write';
}

#types_intro p{
    padding-top: 0.5em;
}

                                            /* Types of Tea Gird */

.teatypes_gird2{
    display: grid;
    padding: 0.5rem;
    grid-gap: 3rem;
    align-content: space-around;
    justify-content: center;
    margin-top: 2em;
}

.teatypes_gird2 img{
    width: 450px;
    height: 260px;
}

.teatypes_gird2 h3{
    font-family: 'Write';
    font-size: 1.75em;
    margin: 10px;
    margin-left: 0;
    padding: 0;
}

.teatypes_gird2 button{
    border: none;
    border-bottom-style:  solid;
    border-bottom-color: rgb(238, 206, 27);
    background-color: inherit;
    color: #192a56;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
}

@media only screen and (min-width: 1000px){

    .teatypes_gird2{
        grid-template-columns: repeat(2, 480px);
        grid-template-rows: repeat(2, 370px);
    }
}


                                            /* Styling for Types of Tea Section */

.white_tea, .black_tea, .green_tea, .herbal_tea{
    padding: 2.5rem;
}

.black_tea, .green_tea{
    background: #ecf0f1;
}

.teatypes_gird{
    display: grid;
    padding: 0.75rem;
}

.teatypes_gird h2{
    text-align: left;
    font-family: 'Write';
    padding: 0 4rem;
}

.teatypes_gird p{
    font-size: 1rem;
    text-align: left;
    padding: 0 4rem;
}

.teatypes_gird img{
    margin-right: auto;
    margin-left: auto;
    width: 450px;
    height: 450px;
    /* box-shadow: -1px 4px 5px 0px rgba(49, 49, 49, 0.479); */
}

.teatypes_gird ul{
    padding: 0 4rem;
}

.teatypes_gird ul li{
    padding-top: 5px;
}

.flavor_text{
    display: flex;
    flex-direction: row;
}

.flavor_text h3{
    padding-left: 1em;
    
}

#icon_cup{
    width: 50px;
    height: 50px;
    display: block;
    padding-left: 2rem;
    margin-left: 0;
    margin-right: 0;
}

@media only screen and (max-width: 400px){

    .white_tea, .black_tea, .green_tea, .herbal_tea{
        padding: 10px;
    }

    .types_intro{
        padding: 1em;
    }

    .teatypes_gird h2{
        padding: 0 5px;
    }

    .teatypes_gird2 img{
        width: 260px;
        height: 200px;
    }

    .teatypes_gird img{
        width: 240px;
        height: 240px;
    }

    .teatypes_gird p{
        padding: 0 1rem;
    }

    .teatypes_gird ul{
        padding: 0 1rem;
    }

}


@media (min-width: 400px) and (max-width: 550px){

    .teatypes_gird2 img{
        width: 380px;
        height: 240px;
    }

    .teatypes_gird img{
        width: 320px;
        height: 320px;
    }

    .teatypes_gird p{
        padding: 0 1.5rem;
    }

    .teatypes_gird ul{
        padding: 0 1.5rem;
    }

    .teatypes_gird h2{
        padding: 0 10px;
    }
}

@media (min-width: 900px) and (max-width: 1200px) {

    .teatypes_gird img{
        height: 400px;
        width: 400px;
    }

}

@media only screen and (min-width: 1000px){
    
    .teatypes_gird{
        grid-template-columns: auto auto;
    }

    .teatypes_gird p{
        margin-left: 0;
        margin-right: 0;
    }

}

                                /* Styling for Types of Tea Table */

.typestea_table{
    padding: 2em;
}

table{
    width: 100%; 
    border-collapse: collapse; 
}

#typestea tr:nth-of-type(odd){ 
    background: rgb(216, 214, 214); 
}

#typestea th, .main_td{ 
    background: #192a56;
    color: rgb(216, 214, 214);
    font-weight: bold;
}

#typestea td, #typestea th{ 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
}

@media only screen and (max-width: 760px), (min-width: 768px) and (max-width: 1024px){

    #typestea table, 
    #typestea thead, 
    #typestea tbody, 
    #typestea th, 
    #typestea td, 
    #typestea tr{ 
		display: block; 
	}
	
	#typestea thead tr{ 
		position: absolute;
		top: -9999px;
		left: -9999px;
    }

    .main_td{ 
    column-span: all;
    }

	#typestea tr{ 
        border: 1px solid #ccc; 
    }
	
	#typestea td{ 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
        padding-left: 50%; 
	}
	
	#typestea td:before{ 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	#typestea td:nth-of-type(2):before{ 
        content: "Flavours"; 
    }
	#typestea td:nth-of-type(3):before{ 
        content: "Benefits"; 
    }
    #typestea td:nth-of-type(4):before{
        content: "Best Brands"; 
    }
    
}

                                        /* Styling for Tea Manfacturers Page*/

.manf_bg{
    position: relative;
    background-image: url(../images/Manf_BG.webp);
    background-color: #8aaece;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Background Overlay */

.manf_overlay{
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 200;
    width: 100%;
    align-items: center;
    text-align: center;
}
/* Styling for Picture menu */


.manf_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.manf_menu img{
    width: 150px;
    height: 150px;
    margin-bottom: 2em;
    transition: transform .2s;
}

/* Zoom effect */
.manf_menu img:hover{
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3); 
    transform: scale(1.3); 
}

@media only screen and (min-width: 750px){

    .manf_menu{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .manf_menu img{
        width: 230px;
        height: 220px;
    }

}

/* Styling for Content Page */

.manf_content{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.manf_content div{
    padding: 1em;
}

.manf_content img{
    width: 200px;
    height: 200px;
}

.manf_content p{
    text-align: center;
}

.sub_overlay{
    display: flex;
    z-index: 300;
    text-align: center;
}

.manf_link{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub_overlay h2{
    font-family: 'Better';
    color: #ffffff;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 4rem;
    letter-spacing: 2px;
    align-items: baseline;
    text-transform: uppercase;
}

@media only screen and (min-width: 900px){

    .manf_content img{
        width: 280px;
        height: 280px;    
    }

}

/* Styling for Statitics Template */

.stats_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    background: #dadcdd;
}

.stats_container h4{
    font-size: 0.95rem;
    color: #192a56;
    letter-spacing: 1px;
    text-align: center;
}

.st_num{
    font-size: 5rem;
    text-align: center;
    color: #192a56;
    letter-spacing: 1px;
}

/* Styling for Headings */

#malwatte_BG h2{
    font-size: 3.5rem;
}

#george_BG h2{
    font-size: 3.5rem;
}


@media only screen and (min-width: 550px){

    #malwatte_BG h2{
        font-size: 4.5rem;
    }
    
    #george_BG h2{
        font-size: 4.5rem;
    }
    
    .sub_overlay h2{
        font-size: 5.5rem;
    }

    .stats_container{
        flex-direction: row;
    }

    .manf_content p{
        margin: 1em;
    }
}

@media (min-width: 100px) and (max-width: 370px){

    #malwatte_BG h2{
        font-size: 2.5rem;
    }
    
    #george_BG h2{
        font-size: 2.5rem;
    }
}

#dilmah_BG{
    background-image: url(../images/dilmah-estate.webp);
    background-color: #273c75;
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#george_BG{
    background-image: url(../images/george.webp);
    background-color: #273c75;
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#malwatte_BG{
    background-image: url(../images/malwatte.webp);
    background-color: #273c75;
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


                                        /* Styling for Buy Now Page*/

.buynow_BG{
    background-image:url(../images/BuyNowBg.webp);
    background-color: #8aaece;
    position: relative;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) { 
    .buynow_BG{
        background-image: url(../images/Respon4.webp);
    }
}


.buynow_intro{
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 500;
    width: 100%;
    align-items: center;
    text-align: center;
}

.products_container{
    padding: 2em;
}

/* Styling for Buy now form */

#teaform{
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
}

#form_container{
    display: grid;
    padding: 20px;
}

.form_1{
    display: flex;
    flex-direction: column;
    background: #c9cfd1af;
    border-radius: 15px 15px 15px 0px;
}

.form_2{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.section{
    margin-top: 15px;
    padding: 5px 15px 10px 0; 
    font-family: 'Write';
    font-size: 1.8em;
}

.section span{
    background: #192a56;
    color: #fff;
    width: 30px;
	display: inline-block;
	text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    margin-right: 4px;
	line-height: 30px;
	border-radius: 15px 15px 15px 0px;
}

.inner-wrap{
    display: flex;
    flex-direction: column;
}

.inner-wrap label{
    font-size: 1.2em;
    color: #192a56;
    padding: 5px;
}

.box{
    display: block;
    width: 8%;
    padding: 2px;
	border-radius: 25px;
    -webkit-border-radius:6px;
    border: 2px solid #192a56;
}

.buy_btn{
    border: 2px #0c64b6;
    background: #0c64b6;
    padding: 5px 10px;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Better';
    font-weight: 800;
    border-radius: 5px;
}

.buy_btn:hover{
    background: #ebe5e1;
    color: #0c64b6;
}

.form_btn{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.form_btn button{
    margin: 0 10px;
}

select{
    display: block;
	width: 80%;
	padding: 6px;
	border-radius: 6px;
	-webkit-border-radius:6px;
	border: 2px solid rgb(78, 77, 77);
}

#tblOverallOrder{
    margin: 0;
}

#tblOverallOrder table{
    border-collapse: collapse; 
}

#tblOverallOrder tr:nth-of-type(odd){ 
    background: rgb(216, 214, 214); 
}

#tblOverallOrder th{ 
    background: #192a56;
    color: rgb(216, 214, 214);
    font-weight: bold;
}

#tblOverallOrder td, #tblOverallOrder th{ 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
}

@media only screen and (max-width: 760px), (min-width: 768px) and (max-width: 1024px){

    #tblOverallOrder table, 
    #tblOverallOrder thead, 
    #tblOverallOrder tbody, 
    #tblOverallOrder th,
    #tblOverallOrder td,  
    #tblOverallOrder tr{ 
		display: block; 
    }
    
    #tblOverallOrder th, .main_td{
        display: none;
    }
	
	#tblOverallOrder thead tr{ 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	#tblOverallOrder tr{ 
        border: 1px solid #ccc; 
    }
	
	#tblOverallOrder td{ 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	#tblOverallOrder td:before{ 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
    }
	
	#tblOverallOrder td:nth-of-type(1):before{ 
        content: "Order No."; 
    }
	#tblOverallOrder td:nth-of-type(2):before{ 
        content: "Brand"; 
    }
    #tblOverallOrder td:nth-of-type(3):before{
        content: "Size"; 
    }
    #tblOverallOrder td:nth-of-type(4):before{
        content: "Package"; 
    }
    #tblOverallOrder td:nth-of-type(5):before{
        content: "Extras"; 
    }
    #tblOverallOrder td:nth-of-type(6):before{
        content: "Total Price"; 
    }
  
}


@media only screen and (min-width: 800px){

    #form_container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

@media only screen and (min-width: 300px){

    .inner-wrap{
        padding-left: 2em;
    }

    .form_1{
        padding: 1em;
    }


}

@media only screen and (min-width: 400px){

    .buy_btn{
        font-size: 12px;
        border: 2px #0c64b6;
        background: #0c64b6;
        padding: 10px 28px;
    }
}

/* Styling For Current Order */

input[type="text"]{
    font-size: 1.2em;
    height: 3em;
    width: 5em;
}

.form_box{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #192a56;
}

.form_box p{
    padding: 0 8px;
    font-family: 'Fine';
    font-size: 1.23rem;
    margin-top: auto;
    margin-bottom: auto;
}

.form_header{
    font-family: 'Write';
    font-size: 1.75rem;
    letter-spacing: 1px;
}

.form_wrap{
    border-radius: 10px;
    border: 4px solid #192a56;
}

.box_2{
    border: none;
    padding: 0 8px;
    font-family: 'Better';
}

#form_end{
    color: black;
    background: #bdc3c7;
    border-bottom: none;
}

#form_end input[type="text"]{
    color: black;
    background: #bdc3c7;
    width: 6em;
}

.form_total input[type="text"]{
    height: 1.65em;
    width: 5.75em;
}

.form_total{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form_total label{
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Fine';
    font-size: 1.35rem;
}

#form_box{
    display: flex;
    padding-top: 5px;
    justify-content: center;
}

@media only screen and (min-width: 400px){

    #formCurrent{
        padding: 2.5em;
        box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    }

    #formFav{
        padding: 2.5em;
        box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    }

    .box_2{
        font-size: 0.85rem;
    }

    .form_header{
        font-size: 2.75rem;
    }

}


                                    /* Styling for Conatct Us Page */


.contact_BG{
    position: relative;
    background-image: url(../images/Contact_bg.webp);
    background-color: #8aaece;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) { 
    .contact_BG{
        background-image: url(../images/Respon5.webp);
    }
}

#contact_form{
    position: absolute;
    top: 20%;
    left: 0;
    z-index: 500;
    width: 100%;
    text-align: center;
}

.contact_us{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.contact_us img{
    width: 270px;
    height: 260px;
    margin-left: auto;
    margin-right: auto;
}

.contact_us p{
    font-family: 'Good';
    color: #ffffff;
    font-size: 1.2em;
    margin: 12px;
}

.main_span{
    font-size: 1.3em;
}

.contact_us span{
    font-family: 'Rust';
}

@media only screen and (min-width: 600px){

    .contact_us p{
        font-size: 1.5em;
    } 

    .main_span{
        font-size: 1.65em;
    }
    
    .contact_us img{
        width: 340px;
        height: 320px;
    }

}

#contact{
    background: #95afc0;
}

.contact_info{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.contact_info img{
    width: 250px;
    height: 250px;
}

.contact_info h3{
    font-family: 'Good';
    font-size: 1.5em;
    text-align: center;
}

.contact_info p{
    font-size: 1.3em;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

@media only screen and (max-width: 400px){

    .contact_info img{
        width: 220px;
        height: 200px;
    }

}


@media only screen and (min-width: 600px){
    
    .contact_info img{
        width: 360px;
        height: 360px;
    }

}
